.idea
data
output
__pycache__
*.png
*.net
*.npy
*.npz
eval_model
eval_data

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# build files
build
dist
pvcnn_backend.egg-info

*.egg-info

ckpt/
.ipynb_checkpoints/